/*-----------------
1. HEADER
2. NAV
3. CONTENT
4. FOOTER
-------------------*/

header, nav, main, footer, .email, .banner, .my-info .img, .info, .about-container, 
.myPic, .profile, .about-info
{
    border: 2px solid black;
}

.icon {
    margin-right: 10px;
}

.modal-backdrop {
    /* bug fix - no overlay */    
    display: none;    
}

body {
    height: 100%;
}

/* 1:HEADER */

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: none !important;
}

/* 2:NAV */

nav a:hover {
    text-decoration: underline !important;
}

/* 3:CONTENT */
  

h2 {
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    font-size: 35px !important;
}

h3 {
    margin-bottom: 30px !important;
}

h5 {
    margin-bottom: 50px !important;
    font-weight: bold !important;
    font-size: 25px !important;
}

.education, .experience {
    border-bottom: 1px solid black;
}

.thumb {
    cursor: pointer;
}

.body h5 {
    padding: 20px;
    background-color: black;
    color: white;
}

.body {
    border: 1px solid darkgray;
    box-shadow: 1px 3px 5px darkgray;
}

.myPic caption {
    width: 300px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

.me {
    height: 450px;
    width: 400px;
    display: block;
    margin: 0 auto;
    /* border-radius: 50%; */
}

.pic:first-child {
    margin-top: 50px !important;
}

.img img {
    display: block;
    margin: 0 auto;
}

.container > * {
    flex: 1;
}

.thumb {
   object-fit: cover;
   max-width: 100%;
   height: auto;
   box-shadow: 5px 5px 5px darkgray;
  }

.education, .experience, .skills {
    padding: 50px;
}

.resume-body div {
    margin-bottom: 20px;
}

.resume-body h3 {
    text-transform: capitalize;
    text-decoration: underline;
    margin-bottom: 20px;
}
/* 4:FOOTER */