footer {
   height: 100px;
    color: white;
}

footer a {
    color: white !important;
    
}

 footer a:hover {
    text-decoration: underline;
}

.info {
    background-image: url("images/footer-bg.png");
    background-size: 100% 100%;
   
    text-shadow: 5px 5px 5px black;
}

.info p {
    font-size: 25px !important;
}

.email {
    border-right: 1px solid green !important;
    background-image: url("images/footer-bg.png");
    background-size: 100% 100%;
    text-shadow: 5px 5px 5px black;
    
}

.social {
    border-left: 1px solid green !important;
    background-image: url("images/footer-bg.png");
    background-size: 100% 100%;
}

.social .fa-brands {
    color: white !important;
    text-shadow: 5px 5px 5px black;
}

.linked {
    margin-right: 55px;
}