.light footer {
   height: 100px;
    color: white;
}

.light footer a {
    color: white !important;
    
}

.light footer a:hover {
    text-decoration: underline;
}

.light .info {
    background-image: url("images/footer-bg.png");
    background-size: 100% 100%;
   
    text-shadow: 5px 5px 5px black;
}

.light .info p {
    font-size: 25px !important;
}

.light .email {
    border-right: 1px solid green;
    background-image: url("images/footer-bg.png");
    background-size: 100% 100%;
    text-shadow: 5px 5px 5px black;
    
}

.light .social {
    border-left: 1px solid green;
    background-image: url("images/footer-bg.png");
    background-size: 100% 100%;
}

.light .social .fa-brands {
    color: white !important;
    text-shadow: 5px 5px 5px black;
}