
header a {
  text-decoration: none;
}

header a:hover {
  text-decoration: none !important;
}

header {
  height: 350px !important;
  background-image: url("images/desk.jpg");
  background-size: cover;
  background-position: center;
}

.banner {
  background: rgba(0,0,0 , 0.3);
}
