

.light {
    background-color: #fff;
    color: #333;
  }

  .sun-light {
    color: yellow;
  }

  .light .resume-body,
  .light .about-container,
  .light .gallery-container {
    background: white;
    box-shadow: 15px 15px 15px black;
  }

  .light .resume-btn {
    text-decoration: none;
    border: none;
    padding: 12px 40px;
    background-color: gray;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    width: 200px;
    font-size: 15px !important;
    text-align: center;
  }

  .light .personal-info p {
    border-bottom: 1px solid lightgray;
    padding: 10px;
    margin-bottom: 10px;
  }

  .light .personal-info .h5 {
    border-bottom: none;
  }

  .light main {
    background: linear-gradient(black, lightgreen, green, darkgreen)
  }