nav a:hover {
    text-decoration: underline !important;
}

.nav-link-dark {
  color: white !important;
}

.nav-link-light {
  color: white !important;
}

.light footer a {
  color: black !important;
}

.nav-link-light.active {
  text-decoration: underline !important;
}

.nav-link-dark.active {
  color: cyan !important;
  text-decoration: underline !important;
}

.nav-link-dark:hover {
  color: cyan !important;
  text-decoration: underline !important;
}

.icon {
  margin-right: 10px;
}

nav a {
  font-size: 20px !important;
}