nav a:hover {
  color: white !important;
  text-shadow: 2px 2px 2px black;
  text-decoration: underline !important;
}

.nav-link-dark {
  color: white !important;
}

.nav-link-light {
  color: white !important;
}

.nav-link-light.active {
  color: white !important;
    text-shadow: 2px 2px 2px black;
    text-decoration: underline !important;
   
}

.nav-link-dark.active {
  color: cyan !important;
  text-decoration: underline !important;
}

.nav-link-dark:hover {
  color: cyan !important;
  text-decoration: underline !important;
}

.icon {
  margin-right: 10px;
}

nav a {
  font-size: 20px !important;
}