nav a:hover {
  color: white !important;
  text-shadow: 2px 2px 2px black;
  text-decoration: underline !important;
}

.nav-link {
  color: white !important;
}

.nav-link.active {
  color: rgb(32, 206, 32) !important;
    text-shadow: 2px 2px 2px black;
    text-decoration: underline !important;
   
}

.icon {
  margin-right: 10px;
}

nav {
  margin-right: 10px !important;
}

nav a {
  font-size: 20px !important;
}

nav a:hover {
  color: rgb(32, 206, 32) !important;
}

