

  @media screen and (max-width: 992px) {

    h1 {
        font-size: 60px !important;
    }

    .banner {
        flex-direction: column;
    }

    .logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    nav {
        margin-right: auto;
        width: 100%;
        
    }

    .school, .work, .list {
        flex-direction: column;
    }

    .list ul {
        margin-left: 50px;
    }

    .about-infobody {
        flex-direction: column;
    }

    .gallery-container .body {
        width: 300px !important;
    }

    footer .info p {
        font-size: 20px !important;
        margin-top: 30px !important;
    }

    footer .social .fa-brands {
        margin-top: 25px;
        
    }
  }

  /* Show the mobile menu on smaller screens (e.g., mobile devices) */
@media (max-width: 600px) {

    h1 {
        font-size: 70px !important;
    }

    header {
        height: 500px !important;
    }

    .banner {
        flex-direction: column;
        
    }

    .logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    nav {
        margin-right: auto;
        width: 100%;
        
    }

    nav ul {
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
    }

    nav ul li a {
        font-size: 15px !important;
        padding: 0 !important;
    }

    .about-infobody {
        flex-direction: column;
    }

    .personal-info p {
        width: 200px !important;
    }

    .profile p {
        width: 300px;
    }

    .me {
        width: 250px;
        height: 300px;
        margin-bottom: 0 !important;
    }

    footer .social .fa-brands {
        margin-top: 25px;
        
    }

    .linked {
        margin-right: 25px;
    }

    .school, .work, .list {
        flex-direction: column;
    }

    .list ul {
        margin-left: 50px;
    }

    .list ul li {
        width: 300px;
    }

    .gallery-container,
    .about-container,
    .resume-body,
    .intro,
    .works {
    width: 400px !important;
    }

    .gallery-container .row {
        display: flex;
        flex-direction: column;
    }

    .pic .img {
        height: 400px;
        width: 300px;
    }

    .gallery-container .body {
        width: 300px !important;
    }

    footer .info p {
        font-size: 20px !important;
        margin-top: 30px !important;
    }
 
  }
  